<%= form_for @cost_bill, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :money, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :money, :class => 'text_field' %>
    </div>
  </div>

    <div class="control-group">
          <%= f.label :billdate, :class => 'control-label' %>
          <div class="controls">
            <div class="input-append date" id="dp1" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
              <%= f.text_field :billdate, :class => 'text_field', :readonly => 'readonly' %>
              <span class="add-on"><i class="icon-calendar"> </i></span>
            </div>
          </div>
  </div>
  <div class="control-group">
    <%= f.label :cost_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("cost_type", "id", CostType.all.collect {|c| [ c.name, c.id ] }, { :prompt => "--Select cost_type--", :selected => @cost_bill.cost_type_id}, {:class => 'text_field'}) %>
    </div>
  </div>

    <div class="control-group">
    <%= f.label :remarks, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remarks, :class => 'text_field' %>
    </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cost_bills_path, :class => 'btn' %>
  </div>
<% end %>
