<%= form_for @come_in_bill, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :money, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :money, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :remarks, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :remarks, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billdate, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :billdate, :class => 'date_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :come_in_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= select("come_in_type", "id", ComeInType.all.collect {|c| [ c.name, c.id ] }, { :prompt => "--Select come_in_type--"}, {:class => 'text_field'}) %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                come_in_bills_path, :class => 'btn' %>
  </div>
<% end %>
