
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">收入明细</a></li>
    <li><a href="#tab2" data-toggle="tab">支出明细</a></li>
  </ul>
  <div class="tab-content">

    <div class="tab-pane active" id="tab1">

     <%= form_for @come_in_bill, :html => { :class => 'form-horizontal' ,:id => "form_cib"} do |f| %>
     <table>
      <tr>
        <td><%= f.label "金额", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :money, :class => 'text_field' %>
          </div>
        </td>
        <td><%= f.label "类型", :class => 'control-label' %>
          <div class="controls">
            <%= select("come_in_type", "id", ComeInType.all.collect {|c| [ c.name, c.id ] }, { :prompt => "--选择收入类型--", :selected => @come_in_bill.come_in_type_id}, {:class => 'text_field'}) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>  <%= f.label "日期", :class => 'control-label' %>
          <div class="controls">
            <div class="input-append date" id="dp2" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
              <%= f.text_field :billdate, :class => 'text_field', :readonly => 'readonly' %>
              <span class="add-on"><i class="icon-calendar"> </i></span>
            </div>
          </div></td>
          <td>    <%= f.label "备注", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :remarks, :class => 'text_field' %>
            </div></td>

          </tr>
          <tr>
            <td></td>
            <td align='right'><input class='btn btn-primary' type='button' value='新增记录' id="bt_create_cib"></td>
          </tr>
        </table>


        <% end %>

        <br/>
        <table class="table table-striped" id="table_cil">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th><%=t '.actions', :default => t("helpers.actions") %></th>
            </tr>
          </thead>
          <tbody>

            <% @come_in_bills.each do |come_in_bill| %>
            <tr>
              <input type="hidden" name="come_in_bill_id" value=<%= come_in_bill.id %>>
              <td><%= come_in_bill.come_in_type.name %></td>
              <td><%= come_in_bill.money %></td>
              <td><%= come_in_bill.billdate %></td>
              <td>

                <a href="#modal_edit_come_in_bill" role="button" class="btn" data-toggle="modal" data-backdrop="true">修改</a>
                <%= link_to "修改", edit_come_in_bill_path(come_in_bill), {:class=>"btn", "data-toggle"=>"modal"} %>
                <!-- Modal -->
                <div id="modal_edit_come_in_bill" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                   <h3 id="myModalLabel">修改收入明细</h3>
                 </div>
                 <%= form_for @come_in_bill, :html => { :class => 'form-horizontal' } do |f| %>
                 <div class="modal-body">

                  <div class="control-group">
                    <%= f.label "金额", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :money, :class => 'text_field',:id=> "modal_come_in_bill_money" %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= f.label "日期", :class => 'control-label' %>
                    <div class="controls">
                      <div class="input-append date" id="dp2" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
                        <%= f.text_field :billdate, :class => 'text_field', :readonly => 'readonly',:id=> "modal_come_in_bill_billdate" %>
                        <span class="add-on"><i class="icon-calendar"> </i></span>
                      </div>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= f.label "类型", :class => 'control-label' %>
                    <div class="controls">
                      <%= select("come_in_type", "id", ComeInType.all.collect {|c| [ c.name, c.id ] }, { :prompt => "--Select come_in_type--", :selected => @come_in_bill.come_in_type_id}, {:class => 'text_field'}) %>
                    </div>
                  </div>

                  <div class="control-group">
                    <%= f.label "备注", :class => 'control-label' %>
                    <div class="controls">
                      <%= f.text_field :remarks, :class => 'text_field' %>
                    </div>
                  </div>

                </div>
                <div class="modal-footer">
                 <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                 <%= f.submit "保存", :class => 'btn btn-primary' %>
               </div>
               <% end %>
             </div>
             <input class='btn btn-primary' type='button' value='删除' id="bt_destroy_cib">
           </td>
         </tr>
         <% end %>
       </tbody>
     </table>

   </div>

   <div class="tab-pane" id="tab2">
    <%= form_for @cost_bill, :html => { :class => 'form-horizontal' ,:id => "form_cb"} do |f| %>
    <table>
      <tr>
        <td>
          <%= f.label "金额", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :money, :class => 'text_field' %>
          </div>
        </td>
        <td> 
          <%= f.label "类型", :class => 'control-label' %>
          <div class="controls">
            <%= select("cost_type", "id", CostType.all.collect {|c| [ c.name, c.id ] }, { :prompt => "--选择支出类型--", :selected => @cost_bill.cost_type_id}, {:class => 'text_field'}) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= f.label "日期", :class => 'control-label' %>
          <div class="controls">
            <div class="input-append date" id="dp1" data-date="12-02-2012" data-date-format="yyyy/mm/dd">
              <%= f.text_field :billdate, :class => 'text_field', :readonly => 'readonly' %>
              <span class="add-on"><i class="icon-calendar"> </i></span>
            </div>
          </div>
        </td>
        <td>

          <%= f.label "备注", :class => 'control-label' %>
          <div class="controls">
            <%= f.text_field :remarks, :class => 'text_field' %>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td align='right'><input class='btn btn-primary', type='button', value='新增记录', id="bt_create_cb" ></td>
      </tr>
    </table>
    <% end %>
    <br/>
    <table class="table table-striped" id="table_cb">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        </tr>
      </thead>
      <tbody>
        <% @cost_bills.each do |cost_bill| %>
        <tr>
          <input type="hidden" name="cost_bill_id" value=<%= cost_bill.id %>>
          <td><%= cost_bill.cost_type.name %></td>
          <td><%= cost_bill.money %></td>
          <td><%= cost_bill.billdate %></td>

          <td>
            <%= link_to "Edit", edit_cost_bill_path(cost_bill), :class => 'btn btn-mini' %>
            <%= link_to "Destroy", cost_bill_path(cost_bill),
            :method => :delete,
            :data => { confirm: 'Are you sure?'},
            :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>            
  </div>
</div>

</div>

