<h1>Listing come_in_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @come_in_types.each do |come_in_type| %>
  <tr>
    <td><%= come_in_type.name %></td>
    <td><%= link_to 'Show', come_in_type %></td>
    <td><%= link_to 'Edit', edit_come_in_type_path(come_in_type) %></td>
    <td><%= link_to 'Destroy', come_in_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Come in type', new_come_in_type_path %>
